SistemaEnCapas/CapaPresentacionWinForm/Connected Services/ReporteEstudiantesService/ReporteEstudiantesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59265/Reportes/ReporteEstudiantesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaServicioSoap.DTO" />
  <xs:element name="EstudiantesSalarioVIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salarioMinimo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstudiantesSalarioVIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaServicioSoap.DTO" minOccurs="0" name="EstudiantesSalarioVIPResult" nillable="true" type="q1:ArrayOfEstudianteVIP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>