SistemaEnCapas/CapaPresentacionWinForm/Connected Services/ReporteEstudiantesService/ReporteEstudiantesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaServicioSoap.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaServicioSoap.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstudianteVIP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstudianteVIP" nillable="true" type="tns:EstudianteVIP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstudianteVIP" nillable="true" type="tns:ArrayOfEstudianteVIP" />
  <xs:complexType name="EstudianteVIP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salario" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstudianteVIP" nillable="true" type="tns:EstudianteVIP" />
</xs:schema>